/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-nov-2017, 13:25:26
    Author     : clickdo

font-style: italic;
*/


.tituloprincipal{
    color: blue;
    font-family: "Comic Sans MS", Verdana, Arial, Sans-serif;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
    
}

.titulosecundario{
    color: rgb(0,0,255);
    font-family: Vivaldi, Arial, Sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
}

.descripcion{
    color: black;
    font-family: Webdings, Sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.listado{
    color: #999999;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
}