/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-nov-2017, 13:12:41
    Author     : clickdo
*/

.tituloprincipal{
    color: blue;
    font-family: "Comic Sans MS", Verdana, Arial, Sans-serif;
    font-size: 24px;
}

.titulosecundario{
    color: rgb(0,0,255);
    font-family: Vivaldi, Arial, Sans-serif;
    font-size: 18px;
}

.descripcion{
    color: black;
    font-family: Webdings, Sans-serif;
    font-size: 14px;
}

.listado{
    color: #999999;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
}