/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-nov-2017, 12:31:44
    Author     : clickdo
*/

#tituloprincipal{
    background: yellow;
    font-family: Helvetica;
}

.elementoimpar{
    color: grey;
    background: black;
    font-family: fantasy;
    
}

.elementopar{
    color: black;
    background: white;
    font-family: Couriel;
}

